@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "./bulma";

html {
    background-color: #20274b !important;
}

.hero-logo {
    height: 100px;
    margin-bottom: 80px;
}

.hero-body {
    padding-top: 80px !important ;
}

.hero.is-primary {
    background-image: url("../images/Hero-Image");
    height: 570px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.hero .title {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    margin-bottom: 15px;
}

.hero .subtitle {
    margin-top: 0px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.8
}


.hero-buttons {
    margin-top: 40px;
}

.hero-buttons a {
    background-color: #0082fe;
    color: #fff;
    font-weight: 500;
    width: 188px;
    height: 60px;
    border-radius: 4px;
}

.hero-buttons a.is-hovered {
    background-color: #186cbc;
}

.main-section {
    background-color: #fff;
}

.main-section h2 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 42px;
}

.main-section p {
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 20px;
    line-weight:30px;
}

.main-section h3 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.first-example {
    text-align: center;
    margin-bottom:50px;
}

.first-example-column {
    margin-top: 100px;
}

.first-example-text-column {
    margin-bottom: 140px !important;
}

.second-example-image img {
    margin-top: 130px;
}

.second-example-container h2 {
    margin-bottom: 45px;
}

.features-column {
    margin-top: 130px;
}

.feature-column {
    text-align: center;
}

.feature-column img {
    margin-bottom: 25px;
}

.feature-column h3 {
    margin-bottom: 20px;
}

.feature-column p {
    margin-bottom: 125px;
}

.features-title {
    text-align: center;
}

.features-content img {
    height: 50px;
}

.footer {
    background-color: #20274b;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 31px;
    padding-bottom: 31px;
}

#logo-column {
    position: relative;
}

#logo-column img {
    position: absolute;
    text-align: left;
    height: 35px;
    left: 0;
}

#copyright-column {
    padding-top: 20px;
    text-align: left;
}

#back-top-column {
    padding-top: 20px;
}

#back-top-column a {
    font-weight: bolder;
    color: #fff;
    text-align: right;
}

#back-top-column {
    i {
        margin-left: 3px;
        color: #fff;
        border: solid gray;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
